html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#403075, #882d61);
}

.piano {
  display: flex;
  position: relative;
  margin-left: 4px;
}

.white-key {
  width: 130px;
  height: 390px;
  background: #fff;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.white-key.active {
  background-color: #c0c0c0;
}

.black-key {
  position: absolute;
  width: 80px;
  height: 250px;
  background-image: linear-gradient(#000, #303030);
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  outline: none;
  cursor: pointer;
}

.black-key.active {
  background-image: linear-gradient(#000, #101010);
}

.Db4-key {
    left: 80px;
}

.Eb4-key {
    left: 210px;
}

.Gb4-key {
    left: 465px;
}

.Ab4-key {
    left: 589px; 
}

.Bb4-key {
    left: 715px;
}

.Db5-key {
    left: 965px;
}

.Eb5-key {
    left: 1095px; 
}

@media only screen and (max-width: 1600px) {
  .body {
    width: 10%;
  }
}
